<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/editor.css">
<script type="text/javascript" src="/js/bootstrap.js"></script>
<body>
<div class="navbar navbar-inverse navbar-fixed-top header">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/">Dwiki</a>
			<div class="nav-collapse collapse">
				<ul class="nav main-nav">
					<li>
						<a href="/">首页</a>
					</li>
					<li>
						<a href="">前端</a>
					</li>
					<li>
						<a href="">后端</a>
					</li>
					<li>
						<a href="">交互</a>
					</li>
					<li>
						<a href="">移动</a>
					</li>
				</ul>
				<ul class="nav pull-right">
						<li> <a href="/login">登录</a> </li>
						<li> <a href="/reg">注册</a> </li>
						<li> <a href="#"></a> </li>
						<li> <a href="/post"> 发布 </a> </li>
						<li> <a href="/logout"> 退出 </a> </li>
				</ul>
			</div>
		</div>
	</div>
</div>	

<div class="container mainbody">


