.mdbody header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.mdbody iframe {
    width: auto;
    border:none;
    outline: 1px dashed #ddd;
    width: 870px;
    min-height: 500px;
}
.mdbody {
    font-size: 15px;
    line-height: 1.7;
    overflow: hidden;
}
.mdbody>*:first-child {
    margin-top: 0 !important;
}
.mdbody>*:last-child {
    margin-bottom: 0 !important;
}
.mdbody h1 {
    font-size: 2.2em;
    margin-bottom: 0px;
}
.mdbody h2 {
    font-size: 1.8em;
}
.mdbody h3 {
    font-size: 1.5em;
}
.mdbody h4 {
    font-size: 1.2em;
}
.mdbody h5 {
    font-size: 1em;
}
.mdbody h6 {
    color: #777;
    font-size: 1em;
}
.mdbody p, .mdbody blockquote, .mdbody ul, .mdbody ol, .mdbody dl, .mdbody table, .mdbody pre {
    margin: 15px 0;
}

/*.mdbody hr {
    background: transparent url("/images/dirty-shade.png") repeat-x 0 0;
    border: 0 none;
    color: #ccc;
    height: 4px;
    padding: 0;
    margin: 15px 0;
}
*/
.mdbody li p.first {
    display: inline-block;
}
.mdbody ul, .mdbody ol {
    padding-left: 30px;
}
.mdbody ul.no-list, .mdbody ol.no-list {
    list-style-type: none;
    padding: 0;
}
.mdbody ul ul, .mdbody ul ol, .mdbody ol ol, .mdbody ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.mdbody dl {
    padding: 0;
}
.mdbody dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 15px;
}
.mdbody dl dd {
    margin-bottom: 15px;
    padding: 0 15px;
}
.mdbody blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
}
.mdbody blockquote>:first-child {
    margin-top: 0px;
}
.mdbody blockquote>:last-child {
    margin-bottom: 0px;
}
.mdbody table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    display: block;
}
.mdbody table th {
    font-weight: bold;
}
.mdbody table th, .mdbody table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
.mdbody table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}
.mdbody table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.mdbody img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.affix {
    top: 10px;
}