body {
	padding-top: 40px;
	font-family: "微软雅黑";
}

.footer {
	background: #ddd;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
}

.mainbody {
	min-height: 500px;
	margin-top: 10px;
}

.navbar-inverse .navbar-inner{
	background: url(/img/header-bg.png) repeat-x;
}
.navbar-inverse .brand {
	text-indent: -9999px;
	width: 251px;
	height: 90px;
	padding: 0;
	margin: 0;
	background: url(/img/logo.png) no-repeat;
}

.navbar .main-nav > li > a{
	height: 85px;
	line-height: 90px;
	padding: 0 20px;
	margin: 0;
	font-size: 16px;
	color: #fff;
	border-bottom: 5px solid transparent;
}
.main-nav li a:hover{
	border-bottom: 5px solid #a12c2c;
}