body {
	font-family: "微软雅黑";
}

.footer {
	background: #444444;
	color: #939393;
	margin-top: 50px;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
}

.mainbody {
	min-height: 500px;
	margin-top: 20px;
}

#header .navbar-inner{
	background: url(/img/header-bg.png) repeat-x;
}
#header .brand {
	text-indent: -9999px;
	width: 140px;
	height: 90px;
	padding: 0;
	margin: 0;
	background: url(/img/logo.png) no-repeat;
}

#header .main-nav a{
	height: 85px;
	line-height: 90px;
	padding: 0 30px;
	margin: 0;
	font-size: 16px;
	color: #fff;
	border-bottom: 5px solid transparent;
}

#header .main-nav a:hover{
	border-bottom: 5px solid #a12c2c;
}

#header .main-nav {
	margin: 0 0 0 30px;
}

#header .auth-nav a{
	padding: 0 10px;
	height: 90px;	
	line-height: 90px;
}

.outline {
	float: right;
	min-height: 50px;
	background: url(/img/outline-bg.png);
}

.outline-buttom {
	width: 270px;
	height: 77px;
	background: url(/img/outline-buttom.png) center center;
}


.articleList li {
	list-style: none;
	float: left;
	width: 220px;
	height: 230px;
	padding: 20px;
	margin: 15px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #fff;	
	box-shadow: #ccc 0px 0px 5px;
}
.articleList li:hover {
	background: #fffec8;
	border: 1px solid #cfc08a;	
	box-shadow: #cfc08a 0px 0px 5px;
}
.articleList li div {
	height: 160px;
	word-break: break-all;
	overflow:hidden; 
	text-overflow:ellipsis; 
}
.articleList li a {
	color: #333333;
}

.breadcrumbWrapper {
	background: #f5f5f5;
}
.breadcrumb {
	margin: 0 auto;
	float: none;
}



#editor { 
	min-height: 400px;
	border: none;
}

.hideit {
	display: none;
}

.nav-tabs {
	margin: 0;
}

.panel-preview, .panel-write {
	padding: 15px 0 10px 15px;
	border: 1px solid #ddd;
	border-top: none;
	min-height: 300px;
}

.btn-toolbar {
	margin-top: 0;
}