body {
	padding-top: 40px;
}

.footer {
	background: #ddd;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
}

.mainbody {
	min-height: 500px;
	margin-top: 10px;
}

.navbar-inverse .navbar-inner{
	background: url(/img/header-bg.png) repeat-x;
}
.navbar-inverse .brand {
	text-indent: -9999px;
	width: 251px;
	height: 90px;
	padding: 0;
	margin: 0;
	background: url(/img/logo.png) no-repeat;
}