<%- include ../includes/header %>
<div class="row span10 offset2">
	<form class="bs-docs-example" action="/articles" method="post">
        <fieldset>
            <legend>发布</legend>
            <label>标题：</label>
            <input type="text" name="title" class="span8" placeholder="Type title here...">
            <label>正文：</label>
            <textarea rows="8" name="body" class="span8"></textarea><br>
            <button type="submit" class="btn">提交</button>
        </fieldset>
    </form>	
</div>
<%- include ../includes/footer %>