<%- include ../includes/header %>
<div class="container mainbody">
<legend>发布</legend>
<div class="row">
    <form action="/articles" method="post" id="postform">
        <div class="span9">
            <div class="row">
                <label class="span7">标题：</label>
                <label class="span2">分类：</label>
            </div>
            <div class="controls controls-row">
                <input type="text" class="span7" name="title">
                <select name="category" class="span2">
                    <option>选择分类</option>
                    <option value="frontend">前端</option>
                    <option value="backend">后端</option>
                    <option value="IDC">交互</option>
                    <option value="mobile">移动</option>
                    <option value="PM">产品</option>
                </select>           
            </div>
            <ul class="nav nav-tabs">
                <li class="active tab-write">
                    <a href="#">正文</a>
                </li>
                <li class="tab-preview">
                    <a href="#">预览</a>
                </li>
            </ul>
            <section class="panel-write">
                <div class="btn-toolbar js_mdinsert">
                    <div class="btn-group">
                        <a class="btn" data-insert="h1" href="#"><b>h1</b></a>
                        <a class="btn" data-insert="h2" href="#"><b>h2</b></a>
                        <a class="btn" data-insert="h3" href="#"><b>h3</b></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-insert="link" href="#"><i class="icon-link"></i></a>
                        <a class="btn js_insertImg" data-insert="image" href="#"><i class="icon-picture"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-insert="bold" href="#"><i class="icon-bold"></i></a>
                        <a class="btn" data-insert="italic" href="#"><i class="icon-italic"></i></a>
                        <a class="btn" data-insert="code" href="#"><i class="icon-code"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-insert="ul" href="#"><i class="icon-list-ul"></i></a>
                        <a class="btn" data-insert="ol" href="#"><i class="icon-list-ol"></i></a>
                        <a class="btn" data-insert="blockquote" href="#"><i class="icon-quote-right"></i></a>
                        <a class="btn" data-insert="hr" href="#"><i class="icon-minus"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn function-help" href="#"><i class="icon-question"></i></a>
                    </div>
                </div>
                <pre id="editor"></pre>
                <textarea id="maincontent" rows="8" name="body" class="span10 hideit"></textarea>
            </section>
            <section class="panel-preview hideit">
            </section>
            <p class="insertnote">
                <input type="file" multiple id="uploadInput" class="hideit">
                将光标定位到你想要插入图片的位置，<a href="javascript:;" class="js_insertImg">点击此处添加图片</a>。
            </p>

        </div>
        <div class="span3">
            <label>状态：</label>
            <select name="status" class="span3">
                <option value="published" selected>发布</option>
                <option value="draft">草稿</option>
            </select>
            <label>标签：</label>
            <input name="tags" id="tags" value=""/>
            <p class="submit-area">
                <button type="submit" class="btn btn-primary js_postSubmit"><i class="icon-save"></i> 提交</button>
                <a href="/articles" title="cancel" class="btn"><i class="icon-mail-reply"></i> 取消</a>
            </p>
        </div>
    </form> 
</div>
</div><!-- end of .container -->
<script type="text/javascript" src="/js/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="/js/edit.js"></script>
<%- include ../includes/footer %>