<%- include ../includes/header %>
<div class="row">
	<aside class="span3 outline">
		<ul>
			<li>
				<a href="">标题一</a>
			</li>
			<li>
				<a href="">标题二</a>
			</li>
		</ul>
		<div class="outline-buttom"></div>
	</aside>	
	<article class="span9 mdbody">
		<h1>jkjkjk</h1>

	</article>
</div>
<%- include ../includes/footer %>