<%- include ../includes/header %>
<div class="row">
	<aside class="span3 outline">
		<ul>
			<li>
				<a href="">标题一</a>
			</li>
			<li>
				<a href="">标题二</a>
			</li>
		</ul>
	</aside>	
	<article class="span9 mdbody">
		<h1><%= article.title %></h1>
		<section>
			<%= article.body %>	
		</section>	
	</article>
</div>
<%- include ../includes/footer %>