<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DUI</title>
    <link rel="stylesheet" href="http://dui.dooioo.com/public/css/main.css">
    <link rel="stylesheet" href="http://dui.dooioo.com/public/css/header.css">
    <script type="text/javascript"> var headerParameters={ empNo:'90592', empName:'胡环康', password:'2dae4f713f772ad10af350de79c7400b', env:"production"}; </script>
    <script type="text/javascript" src="http://dui.dooioo.com/public/js/jquery-1.4.2.min.js"></script>
</head>
<body>
<div id="new_header"></div>
<div class="container mt_20 clearfix">
