<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>User to <%= title %></p>
    <form action="/session" method="post" id="form_updateArticle" class="form">
    	empNo: <input type="text" name="empNo"/> <b/>
    	password: <input type="password" name="password"/> <b/>
    	<button type="submit">登录</button>
    </form>	
  </body>
</html>